@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}



/*GRANDES TELAS*/

header {
    padding: 40px;
    background-color: rgb(0, 0, 0);
}

.nautta {
    position: absolute;
    color: white;
    top: 4px;
    left: 38px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    display: inline-block;
}

.search-box {
    position: absolute;
    top: 20px;
    left: 21%;
    right: 32.50%;

    background-color: rgb(255, 255, 255);
    height: 40px;
    padding-left: 25px;
    padding-right: 17px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-weight: bold;
}

.perfil {
    position: absolute;
    left: 71%;
    top: 12px;
}

.entrar {
    color: white;
    position: absolute;
    left: 74%;
    top: 5.50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.app {
    position: absolute;
    left: 81.60%;
    top: 13px;
}

.baixe {
    color: white;
    position: absolute;
    left: 84%;
    top: 5.50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.carrinho {
    position: absolute;
    right: 13px;
    top: 12px;
}


.burguer {
    margin-top: 6px;
    margin-left: 100px;
    padding-right: 10px;
    color: black;
    
    background-color: transparent;
    border: none;
}

.categorias {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 20px;

    border: none;
    background-color: transparent;
    color: black;
    margin-right: 100px;
    cursor: pointer;
}

.categorias:hover, a:hover {
    text-decoration: underline;
}

nav {
    background-color: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    padding: 10px;
}

ul, .categ {
    color: black;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: bolder;
}

.categ {
    margin-right: 95px;
}

.functions > ul > li {
    background-color: gray;
    padding: 10px;
}

.functions {
    display: none;
}

.n1, .n2, .n3, .n4, .n5 {
    display: flex;
    justify-content: space-around;
    margin-left: 97.77px;
    margin-right: 97.77px;

    color: black;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.n1:hover {
    text-decoration: underline;
}

.beleza, .infantil, .masculino, .feminino, .esporte {
    background-color: rgb(180, 180, 180); 
    padding: 15px;
    font-size: 22px;
    padding-left: 150px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}

th {
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 9%;
    padding-bottom: 10px;
}

.bel, .inf, .masc, .fem, .esp {
    color: rgb(36, 36, 36);
    text-decoration: none;
}

.bel:hover, .fem:hover {
    text-decoration: underline;
}

