@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}



/*GRANDES TELAS*/

header {
    padding: 40px;
    background-color: rgb(0, 0, 0);
}

.nautta {
    position: absolute;
    color: white;
    top: 4px;
    left: 38px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    display: inline-block;
}

.search-box {
    position: absolute;
    top: 20px;
    left: 21%;
    right: 32.50%;

    background-color: rgb(255, 255, 255);
    height: 40px;
    padding-left: 25px;
    padding-right: 17px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-weight: bold;
}

.perfil {
    position: absolute;
    left: 71%;
    top: 12px;
}

.entrar {
    color: white;
    position: absolute;
    left: 74%;
    top: 5.50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.app {
    position: absolute;
    left: 81.60%;
    top: 13px;
}

.baixe {
    color: white;
    position: absolute;
    left: 84%;
    top: 5.50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.carrinho {
    position: absolute;
    right: 13px;
    top: 12px;
}



/*PEQUENAS TELAS*/

@media screen and (max-width: 992px) {
header {
    padding: 30px;
    background-color: rgb(0, 0, 0);
}

.nautta {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 13px;
    left: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

.search-box {
    position: absolute;
    top: 13px;
    height: 35px;
    left: 115px;
    width: 100px;

    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 11px;
    padding-right: 53px;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 10px;
    font-weight: bolder;
}

.loupe {
    position: absolute;
    width: 19px;
    height: 19px;
    
    top: 7px;
    right: 5px;
}

.perfil {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    left: 144px;
}

.entrar {
    color: white;
    position: absolute;
    top: 28px;
    left: 310px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}

.app {
    display: none;
}

.baixe {
    display: none;
}

.carrinho {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}
}

.burguer {
    padding-top: 6px;
    padding-left: 100px;
    padding-right: 10px;
    color: black;
    
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.categorias {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    color: black;
    
    padding-right: 100px;
}

nav {
    background-color: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    padding: 10px;
}

ul, .categ {
    color: black;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 83px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: bolder;
}

 table {
    background-color: rgb(136, 136, 136);
    position: absolute;
    top: 21.48%;
    left: 0px;
    width: 100%;
    
    display: flex;
    flex-direction: column;

 }

 tr {
    display: flex;
    justify-content: space-around;
    
 }

 td {

 }
 